/*
 *	Theme
*/

:root{
	--bgd: #252525;
	--stroke: #454545;
	--land: #454545;
	--graticule: #404040;
}


/*
 *	SVG
*/

.svg-bg {
    width: 100%;
    height: 100%;
    fill: var(--bgd);
}

svg text {
	font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: rgba(255, 255, 255, 0.7);
    pointer-events: none;
}

/*
 *	D3 Tip
*/

.d3-tip {
	font: "OpenSansSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-size: 12px;
    padding: 12px;
    background: rgba(20, 20, 20, 0.9);
    border-radius: 5px;
    white-space: pre-wrap;
    pointer-events: none;
	z-index: 99;
}


/*
 *	Charts
*/

.title {
    text-anchor: middle;
    font-size: 16px;
}

.axis-label {
    text-anchor: middle;
    font-size: 14px;
}

.axis path {
    fill: none;
    stroke: none;
}

.axis line {
    fill: none;
}

.tick text {
    font-size: 12px;
}

.tick line {
    opacity: 1;
    stroke: var(--stroke);
}

.grid line {
    stroke: var(--stroke);
    stroke-opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}


/*
 *	Globe
*/

.graticule {
    fill: none;
    stroke: var(--graticule);
	stroke-dasharray: 3 3;
}

.sphere {
    fill: var(--bgd);
	stroke: var(--graticule);
	stroke-width: 2;
}

.land {
    stroke: var(--bgd);
    stroke-width: 0.5px;
}
