svg text {
	pointer-events: none;
}

.d3-tip {
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
	white-space: pre-wrap;
    pointer-events: none;
}

.axis-label {
	text-anchor: end;
	font-size: 12px;
	font-style: italic;
}

.axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 12px;
}

.tick line {
    opacity: 1;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}
